#header{
    background-color: darkgrey;
    padding-top: 5px;
    height : 60px;
    text-align: center;
    font-weight: bold;
}

#container{
    text-align: center;
    width: 800px;
    margin-left: 700px;
}

#button1{
    background-color: green;
    width: 60px;
    height: 30px;
    
}

#footer{
    background-color: darkgray;
    height: 40px;
    text-align: center;
}

#content{
    display: flex;
    
    
}

#name{
    text-align: right;
    margin-top: 3px;
}

#field{
    padding-left: 10px;
}

#error{
    color: red;
}

#button2{
    width: 100px;
    background-color: green;
    height: 30px;
}

#buttons{
    display: flex;
    margin-left: 350px;
}